body{

background-image: url(../IMANGENES/22.webp);
background-position: 50% 50%;


}

#div1{

    background-image: url(../IMANGENES/OIP.jpg);
    background-repeat: no-repeat;
}
#p{

    background-color: aquamarine;
    background-attachment: ;

}

