#div{

    background-color: yellow;
    width: 1250px;
    height: 250px;
    float: right;
}
#h1{
    text-align: center;
}
#a{
    text-align: center;
}
#video{

    height: 800px;
    width: 200px;
}