h1{
    text-align: center;
}

#div {
    background-color: peru  ;
    margin-left: 20%;
    margin-right: 20%;
    border-left: 20%;
    border-right: 20%;

}
#div1 {
    height: 60%;
    width: 50%;
    float: left;

}
#div2 { 
    height:60%;
    width: 50%;
    float: left;
    
}
#div3{

    height: 40%;
    clear: both;
}
#div4{
    width: 14%;
    margin-right: 90%;
    border-right: 85%;
    
   
}
#div5{
    float: right;
    margin-left: 85%;
    
    
}
#div6{
    background-color: green;
    height: 25%;
    clear: right;
}

