header{
    display: flex;
}
#div1{
    background-color: blueviolet;
    margin-right: 90%;
    float: left;
}
#nav{
    background-color: blue;
   
}
#div3{
    background-color: rgb(69, 69, 162);
    float: right;
}
#div2{
    
    float: left;
    
}
#div4{
   
    float: left;
}
#div5{
    
   
    float: right;
}
#div6{
    float: left;
    
}