#h1 {


    text-align: center;
    color: rgb(28, 97, 158);
    border-color: blue;
    

    
}
#h2 {
    text-align: center;
}
#div{
    background-color: aquamarine;


}
#class{

    color: red;
}
